.container {
    max-width: 1860px;
    margin: 0 auto;
    padding: 0 50px;

    @media (max-width: 768px) {
        padding: 20px 0;
    }
}

.containerMax {
    max-width: 1920px;
    margin: 0 auto;
}
