:root {
    --font-accent: "NEXT ART", sans-serif;
    --font-main: "Manrope", sans-serif;
    --accent-color: #f6c744;
    --accent-color-hover: #e5b932;
    --bg-color: #f5f5f5;
    --bg-secondary: #eaeaea;
    --text-color: #1a1a1a;
    --text-muted: #4a4a4a;
    --border-color: #d0d0d0;
    --card-bg: #151524;

    --btn-color: #1a1a1a;
    --btn-border-color: #1a1a1a;
    --btn-bg: #f6c744;
    --btn-hover-bg: #1a1a1a;
    --btn-hover-color: #f6c744;
}

html.dark {
    --bg-color: #111111;
    --bg-secondary: #1a1a1a;
    --text-color: #ffffff;
    --text-muted: #cccccc;
    --border-color: #2a2a2a;
    --card-bg: #151524;

    --btn-color: #f6c744;
    --btn-border-color: #f6c744;
    --btn-bg: transparent;
    --btn-hover-bg: #f6c744;
    --btn-hover-color: #000000;
}