.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px 30px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    font-family: var(--font-main);
    color: var(--btn-color);
    border: 1px solid var(--btn-border-color);
    background: var(--btn-bg);
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    svg {
        font-size: 20px;
    }
    
    &:hover {
        background: var(--btn-hover-bg);
        color: var(--btn-hover-color);
    }
}